{% extends 'store/base.html' %}
{% load static %}

{% block content %}
	<h1 class="mt-3">Store page</h1>
	<a href="{% url 'cart' %}"><img src="{% static 'images/cart.svg' %}" width=50px></a>
	<div class="row mb-5">
		{% for product in products %}
			<div class="col-lg-4 mb-4">
				<div class="card__box">
					<a class="badge badge-light mb-2" style="display: block; overflow: hidden;" href="#"><h5>{{product.name}}</h5></a>
					<a href="#"><img class="mb-3 card__image" src="{{product.imageURL}}"></a>
					<button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary card__button mr-2 update-cart">Add to Cart</button>
					<a class="btn btn-outline-success">View</a>
					<h4 class="card__price">${{product.price | floatformat:2}}</h4>
				</div>	
			</div>
		{% endfor %}
	</div>
{% endblock content %}